@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<div class="jumbotron text-center">
  <h2>Add A Machine</h2>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Engineer
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Engineers", "Index", "Engineers", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Engineer", "Create", "Engineers", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Machine
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Machines", "Index", "Machines", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add New Machine", "Create", "Machines", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
<div class="">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)
    <div class="form-group row mb-3">
      @Html.Label("Select Machine", null, new { @class="col-form-label col-md-2"})
      <div class="col-md-4">
        @Html.DropDownList("MachineId", null, new { @class="form-control" })
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 offset-md-2">   
        <button type="submit" class="btn btn-outline-dark">Update</button>
      </div>
    </div>
  }
</div>